@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }

  .mob-sosial-list {
    gap: 56px;
  }
}

/* -------------------------------TABLET---------------------------------- */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* -----------------HEADER------------------- */

  .logo {
    margin-right: 120px;
  }

  .header {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    max-width: 1150px;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  .header-list {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }

  .header-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-style: normal;
  }

  .header-menu-link {
    color: var(--navyblue, #2e2f42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 26.5px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio {
    position: relative;
    color: #404bbf;
  }

  .studio::after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    bottom: -1px;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: var(--color-ocean);
  }

  .header-address-link {
    color: var(--slate, #434455);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:hover,
  .header-address-link:focus {
    color: var(--color-ocean);
  }

  .header-menu-open {
    display: none;
  }

  /* ----------------HERO------------------- */

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/section1/people-officetab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/section1/people-officetab2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 36px;
  }

  /* ----------------SECTIIONONE------------------- */

  .sectionone-list {
    gap: 72px 24px;
  }

  .sectionone-item {
  }

  .sectionone-subtitele {
    text-align: start;
  }
  .sectionone-text {
    max-width: 356px;
  }

  /* ----------------OURTEAM------------------- */

  .ourteam-item {
    max-width: 264px;
    width: calc((100% - 36px) / 2);
  }

  .ourteam-list {
    gap: 64px 24px;
  }

  /* ----------------CUSTOMERS------------------- */

  .customers-sosial-icon {
    width: 104px;
  }
  .customers-list {
    gap: 72px 24px;
  }

  /* ----------------FOOTER------------------- */

  .logofooter {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0px;
    margin-bottom: 16px;
  }

  .footer-text {
    max-width: 264px;
  }
  .footer-box {
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    /* margin-left: 108px; */
  }

  .footer-logo-box {
    align-items: start;
    margin-right: 24px;
  }

  .footer-social-text {
    text-align: left;
  }

  .footer-form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    align-items: start;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }

  .footer-form-input {
    width: 264px;
    padding-left: 16px;
    background-color: transparent;
  }

  .footer-form-input::placeholder {
    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
  }
}

/* -------------------------------DESKTOP---------------------------------- */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1440px;
  }

  /* -----------------HEADER------------------- */

  .logo {
    margin-right: 76px;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-container {
    justify-content: center;
    max-width: 1440px;
    padding: 0 156px;
  }

  .header-navigation {
    height: 24px;
    margin-right: auto;
  }

  .header-address {
    flex-direction: row;
    gap: 40px;
  }

  .header-menu-link {
    padding: 26px 0;
  }

  .header-address-item {
    flex: shrink 0;
    min-width: 151px;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: var(--color-ocean);
  }

  .header-address-link {
    font-size: 16px;
    line-height: 1.5;
  }

  /* ----------------HERO------------------- */
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/section1/people-office.jpg);
    max-width: 1440px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/section1/people-office-2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /* ----------------SECTIIONONE------------------- */

  .sectionone {
    padding: 120px 0;
  }

  .sectionone-list {
    gap: 24px;
    justify-content: center;
  }

  .sectionone-subtitele {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: start;
  }
  .sectionone-text {
    font-weight: 400;
    max-width: 264px;
  }

  .sectionone-item-top {
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--color-cloud);
    margin-bottom: 8px;
  }

  /* ----------------OURWOK------------------- */

  .notour-work {
    display: block;
  }

  .our-work {
    padding-bottom: 120px;
  }

  .our-work-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
  }

  .our-work-title {
    color: var(--color-navy-blue-modal);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  /* ----------------OURTEAM------------------- */
  .ourteam {
    padding: 120px 0;
  }

  .ourteam-item {
    max-width: 264px;
    width: calc((100% - 72px) / 4);
  }

  .ourteam-list {
    gap: 24px;
  }

  /* ----------------CUSTOMERS------------------- */

  .customers {
    padding: 120px 0;
  }

  .customers-sosial-icon {
    width: 104px;
  }

  .customers-list {
    gap: 24px;
  }

  /* ----------------FOOTER------------------- */
  .footer {
    padding: 100px 0;
  }

  .footer-logo-box {
    margin-right: 120px;
  }

  .logofooter {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0px;
    align-items: center;
    margin-bottom: 16px;
  }

  .footer-text {
    max-width: 264px;
  }
  .footer-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
  }

  .footer-social-box {
    display: flex;
    flex-direction: column;
  }

  .footer-form-box {
    margin-left: 80px;
  }

  .footer-form-input {
    width: 264px;
    padding-left: 16px;
  }
}
